%div{:class => "explanation"}
	%p Each API below may be used to auto-populate your whitelist. 
	%ul
		%li 
			%strong ANY user with access to the whitelist page may cancel any API pull at any time.
		%li All whitelist actions are logged in the whitelist log. This includes when an entity or API is added and removed as well as who added and removed them.
		%li Any Corporation Contacts with equal or better standings to the minimum standing set will be automatically added to the whitelist.
		%li When a contact's IG standings are lowered below the minimum standing, the contact is removed from the whitelist within 24 hours.
		%li Manual additions to the whitelist are exempt from API updates. That is a manual entity may have any IG standing and it will never be removed.


%table.table.table-condensed{:id => "valid_api_table"}
	%thead
		%tr
			%th Main Entity
			%th Key ID
			%th Minimum Standing
			%th
	%tbody
		- @valid_corp_apis.each do |api|
			%tr{:id => "add_api_#{api.id}"}
				%td= api.main_entity_name

				%td{:id => "key_id_#{api.id}"}= api.key_id

				%td
					%select{:id => "select_#{api.id}"}
						-(-10..9).each do |s|
							%option{:value => "#{s}"}= "#{s}"
						%option{:value => "10", :selected => "10"}= "10"

				%td
					%button{:id => "query_api_#{api.id}", :class => "btn btn-xs btn-success", :data => {:target_path => "/users/#{current_user.id}/api/#{api.id}/begin_whitelist_api_pull", :query_api_id => "add_api_#{api.id}", :main_entity_name => "#{api.main_entity_name}", :raw_id => "#{api.id}", :user_id => "#{current_user.id}"}} Query API