%h3 White List Moderation

%div{:id => "whitelist_manual_addition"}
	=text_field(:entity, :name, :placeholder => 'Entity Name')
	=radio_button_tag(:entity_type, 1, true)
	=label_tag(:entity_type_1, "Alliance")
	=radio_button_tag(:entity_type, 2)
	=label_tag(:entity_type_2, "Corporation")
	=radio_button_tag(:entity_type, 3)
	=label_tag(:entity_type_3, "Faction")
	=radio_button_tag(:entity_type, 4)
	=label_tag(:entity_type_4, "Character")
	%button{:id => "submit_new_entity", :class => "btn btn-xs btn-success", :data => {:target_path => "/whitelist"}} Add Entity

%div{:id => "api_addition"}
	%button{:id => "begin_new_api_pull", :class => "btn btn-l btn-success", :data => {:target_path => "/whitelist/retrieve_pullable_apis"}} Begin New API Pull
	%div{:id => "new_query_table"}

%div
	%h3 APIs In Use
	%table.table.table-condensed{:id => "api_pulls_table"}
		%thead
			%tr
				%th Owner
				%th Main Entity
				%th Minimum Standing
				%th Key ID
				%th
		%tbody
			- @active_pull_apis.each do |api|
				%tr{:id => "pull_api_#{api.id}"}
					%td= @user_char_names[@active_pull_apis.index(api)]
					
					%td= api.main_entity_name

					%td= api.whitelist_standings

					%td= api.key_id

					%td
						%button{:id => "cancel_pull_api_#{api.id}", :class => "btn btn-xs btn-danger", :data => {:target_path => "/share_users/#{current_share_user.id}/api/#{api.id}/cancel_whitelist_api_pull", :pull_api_id => "pull_api_#{api.id}"}} Cancel Pull


%br
%h3 White List Table

%table.table.table-condensed{:id => "whitelist_table"}
	%thead
		%tr
			%th Name
			%th Entity Type
			%th Source User
			%th Source Type
			%th Standing
			%th
	%tbody
		- @wl.each do |entity|
			%tr{:id => "entity_#{entity.id}"}
				%td= entity.name
				
				- if entity.entity_type == 1
					%td Alliance
				- elsif entity.entity_type == 2
					%td Corporation
				- elsif entity.entity_type == 3
					%td Faction
				- else
					%td Character

				%td= entity.source_share_user

				-if entity.source_type == 1
					%td API
				-else
					%td Manual
				
				%td= entity.standing
				%td
					%button{:id => "destroy_entity_#{entity.id}", :class => "btn btn-xs btn-danger", :data => {:target_path => "/whitelist/#{entity.id}", :entity_id => "entity_#{entity.id}"}} Delete